body {
    margin-left: 16px;
    padding-left: 16px;
    background-color: "white"; /*#DFEFFF;*/
    font-family: "Lato", sans-serif;
    font-size: 1vm;
    line-height: 1.6;
    transition: background-color .5s;
}

h1 {
    color: black;
    font-size: 5vm;
}
p {
    color: black;
    font-size: 1vm;
}

.header {
    margin-left: 16px;
    /* padding-left: 16px; */
    font-size: 16px;
    color: #000000;
    font-family: "Time", "Lato", sans-serif;
    background-color: "white"; /*#DFEFFF;*/
    cursor:pointer;
    transition: background-color .5s;
    transition: margin-left .5s;
}
.header:hover {
    color: #FF0000;
    text-decoration: bold;
    /*padding-left: 16px;*/
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: "white"; 
    color: #000000;
    text-align: right;
    font-size: 12px;
    margin-bottom = 16px;
    margin-right = 16px;
}

.list {
    line-height: 1.6;
    font-size: 1vm;
    text-decoration: none;
    color: #111;
}

.list a {
    text-decoration: none;
    color: #111;
    transition: 0.3s;
}

.list a:hover {
    color: #FF0000;
}

table, th, td {
    text-decoration: none;
    border: 0px solid black;
    border-collapse: collapse;
}
td {
    font-size: 1vm;
    font-weight: normal;
    padding: 5px;
    text-align: left;
}
th {
    font-size: 1vm;
    font-weight: bold;
    width: 10%;
    padding: 5px;
    text-align: right;    
}

.sidenav {
    height: 100%;
    width: 16px;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    
    background-color: #111;
    padding-top: 80px;
    padding-left: 24px;
    font-size: 16px;
}

.sidenav a {
    padding: 0px 0px 16px 24px;
    text-decoration: none;
    font-size: 16px;
    color: #DDEEFF;
    display: block;
    transition: 0.3s;
    /*padding-left: 24px;*/
}

.sidenav a:hover {
    color: #FF0000;
    padding-left: 48px;
}

.sidenav .togglebtn {
    padding-top: 0px;
    position: absolute;
    margin-top: 16px;
    margin-right: 8px;
    font-size: 16px;
    /*margin-left: 16px;*/
    padding-left: 8px;
}

#main {
    transition: margin-left .5s;
    margin-left: 16px;
    padding-top: 16px;
}

@media screen and (max-height: 400px) {
    .sidenav {padding-top: 16px;}
    .sidenav a {font-size: 16px;}
}
