body {
    margin-left: 16px;
    padding-left: 16px;
    background-color: "white"; /*#DFEFFF;*/
    line-height: 1.6;
    color: #010101;
    font-family: Lato;
    font-size: 16px;
    /*transition: background-color .5s;*/
}

/*
#h1 {
    font-size: 10vw;
}
*/
p {
    font-family: Lato;
    color: #010101;
}
p a {
    text-decoration: none;
    color: #0000FF;
    transition: 0.3s;
}
p a:hover {
    color: #FF0000;
}

.header {
    font-size:24px; 
    font-variant: small-caps;
}

.columns {  
  display: flex;
  flex-wrap: wrap;
}

.left_col{
    flex: 60%;
}

.right_col{
    flex: 40%;
}

.footer {
    font-size: 1vw;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 0 16 16 0px;
    width: 100%;
    height: 32px;
    background-color: "white"; 
    color: #000000;
    text-align: right;
    overflow-y: hidden;
    z-index: 1;
    border: solid, black;
    /*background-color: #111;
    color: #DDEEFF;*/
}

.list {
    line-height: 1.6;
    text-decoration: none;
    color: #111;
}

.list a {
    text-decoration: none;
    color: #0000FF;
    transition: 0.3s;
}

.list a:hover {
    color: #FF0000;
}

table {
    width: 100%;
    font-size: 14px;
    border: 0px solid white;
    border-collapse: collapse;
    padding-right: 16px;
    padding-top: 4px;
}
td {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    padding-right: 16px;
    padding-top: 4px;
}
td#col1{
    width: 15%
}
td#col2{
    width: 15%
}
td#col1{
    width: 60%
}
th {
    font-weight: bold;
    width: 10%;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    padding-right: 16px;
    padding-top: 4px;
}
table a {
    text-decoration: none;
    color: #0000FF;
}
table a:hover {
    color: #FF0000;
}

.accordion {
    width: 60%;
    font-family: Lato;
    font-size: 14px;
    background-color: #EEEEEE;
    color: #111;
    cursor: pointer;
    padding: 8 8 8 18px;
    border: none;
    text-align: left;
    outline: none;
    /*font-size: 15px;*/
    transition: 0.5s;
}

.active, .accordion:hover {
    background-color: #000000;
    color: #DDEEFF;
}

.accordion:after {
    content: '\002B';
    color: ##DDEEFF;
    font-weight: bold;
    float: right;
    /*margin-left: 5px;*/
}

.active:after {
    content: "\2212";
    color: #DDEEFF;
    font-weight: bold;
    float: right;
}

.panel {
    width: 60%;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 18px;
    background-color: #EEEEEE;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.menutoggle {
    margin-left: 8px;
    /* padding-left: 16px; */
    font-size: 16px;
    color: #010101;
    font-family: sans-serif;
    background-color: "white"; /*#DFEFFF;*/
    cursor:pointer;
    transition: background-color .5s;
    transition: margin-left .5s;
}
.menutoggle:hover {
    color: #FF0000;
    text-decoration: bold;
    /*padding-left: 16px;*/
}

.sidenav {
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    padding-top: 48px;
    
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    
    font-family: sans-serif;
    background-color: #111;
    padding-left: 32px;
    font-size: 16px;
}

.sidenav a {
    padding-left: 24px;
    padding-top: 24px;
    text-decoration: none;
    font-size: 16px;
    color: #DDEEFF;
    transition: 0.3s;
    display: block;
}

.sidenav a:hover {
    color: #FF0000;
    padding-left: 32px;
}

.sidenav .togglebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 0px;
    padding-right: 8px;
    font-size: 24px;
    /*margin-left: 16px;*/
    /*padding-left: 0px;*/
}

#main {
    transition: margin-left .5s;
    margin-left: 16px;
    padding-top: 16px;
    font-family: Lato, "sans-serif";
    line-height: 1.6;
}


@media screen and (max-height: 600px) {
    body{font-size: 12px;}
    th, td{font-size: 12px;}
    .sidenav {padding-top: 12px;}
    .sidenav a {font-size: 14px;  padding-top: 12px;}
    .accordin{font-size:12px;}
    .pannel{font-size:12px;}
}

@media screen and (max-width: 600px) {
    body{font-size: 12px;}
    th, td{font-size: 12px;}
    .sidenav a {font-size: 14px; padding-top: 12px;}
    .accordin{font-size:12px;}
    .pannel{font-size:12px;}
    .left_col{flex: 100%;}
}
