body {
    background-color: "white"; /*#DFEFFF;*/
    font-family: "Lato", sans-serif;
}

h {
    color: black;
}

p {
    color: black;
}

.date {
    margin: 16px 16px 16px 32px;
    font-size: 12px;
}

.header {
    margin: 16px 16px 32px 32px;
    font-size: 24px;
    font-variant: small-caps;
}

.content {
    font-size: 16px;
    margin: 16px 16px 32px 48px;
}

.back_icon {
    height: 16px;
    width: 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 6px;
    

    transition: 0.5s;
    overflow-x: hidden;
    background-color: #000000;
    display: block;
    font-color: #FFFFFF;
    
    padding 8px;
    
    font-size: 24px;
    margin-left: 24px;
    padding-left: 16px;
}

.back_icon a {
    font-color: #FFFFFF;
}

.back_icon a:hover {
    font-color: #FF0000;
}
