body {
    background-color: "white"; /*#DFEFFF;*/
    font-family: "Lato", sans-serif;
}

h {
    color: black;
}

p {
    color: black;
}

.date {
    margin: 16px 16px 16px 32px;
    font-size: 12px;
}

.header {
    margin: 16px 16px 32px 32px;
    font-size: 24px;
    font-variant: small-caps;
}

.content {
    font-size: 16px;
    margin: 16px 16px 32px 60px;
}

.back_icon {
    height: 24px;
    width: 48px;
    margin-top: 60;
    margin-left: 0;
    position: fixed;
    z-index: 1;

    padding: 12px;
    display: block;
    overflow-x: hidden;
    background-color: #111;
    
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-decoration: none;
    
    transition: 0.5s;
}

.back_icon a {
    color: #DDEEFF;
    text-decoration: none;
}

.back_icon a:hover {
    color: #FF0000;
    text-decoration: none;
}
